<link rel="stylesheet" type="text/css" href="/public/css/header.css">
<nav1>
    <div class="wrap">
        <div id="logo">
            <a href='/'>

                <p>
                <span class="name" id="mainname">
                    DAILY ISSUE</span>
                </p>
            </a>
        </div>
        <ul id="account">
            <li id="login">
                    <a  href='/api/auth/logout'>로그아웃</a></li>
        </ul>
        <ul id="menu">
            <li><a href="/AboutUs">채널</a></li>
            <li><a href="/resolveposts/1">흠</a></li>
            <li><a href="/posts/1">음</a></li>
            <li><a href="/areaposts/1/0">음</a></li>
            <li><a href="/resolveposts/1">하이</a></li>
            <li><a href="/reportposts/1">내 정보</a></li>
        </ul>
    </div>
</nav1>